*.swp
*.pyc
venv/
__pycache__/
.env
.pytest_cache
.tox
build/
config/
!config/polyswarmd.yml
!config/polyswarmd.docker.yml
dist/
deb_dist/
polyswarmd.spec
polyswarmd.egg-info/
truffle/
!truffle/build/
.idea/