# TOOD:
# Docker Hub broken on login:
# Error: Cannot perform an interactive login from a non TTY device
#- docker login -u "$CI_CUSTOM_DOCKER_HUB_USERNAME" -p "$CI_CUSTOM_DOCKER_HUB_PASSWORD" $DOCKER_HUB_REGISTRY
#- docker push polyswarm/$CI_PROJECT_NAME:$CI_COMMIT_REF_NAME

image: docker:stable

services:
  - docker:dind

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  
variables:
  DOCKER_HUB_REGISTRY: "https://index.docker.io/v1/"

build-master:
    only: 
        - master
    tags:
        - docker
    variables:
        DOCKER_IMAGE_TAG: "latest"
    stage: build
    script:
        - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
        - docker build -t $DOCKER_FULL_PATH -f docker/Dockerfile .
        - docker push $DOCKER_FULL_PATH

build-non-master:
    except: 
        - master
    tags:
        - docker
    variables:
        DOCKER_FULL_PATH: "$CI_REGISTRY_IMAGE/$CI_PROJECT_NAME:$CI_COMMIT_REF_NAME"
    stage: build
    script:
        - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
        - docker build -t $DOCKER_FULL_PATH -f docker/Dockerfile .
        - docker push $DOCKER_FULL_PATH