base58==0.2.5
python-consul==1.1.0
click==6.7
ethereum==2.3.1
gevent==1.2.2
gevent-websocket==0.10.1
jsonschema==2.6.0
Flask==1.0.2
Flask-Sockets==0.2.1
Flask-SQLAlchemy==2.3.2
hexbytes==0.1.0
psycopg2-binary==2.7.5
PyYaml==3.12
pytest==3.5.1
python-json-logger==0.1.9
requests==2.18.4
requests-mock==1.5.0
rlp==0.6.0
web3==4.2.0
websocket-client==0.48.0
Werkzeug==0.14.1