base58==1.0.3
click==7.0
dataclasses==0.7; python_version=="3.6"
fastjsonschema==2.14.1
Flask==1.0.2
Flask-Caching==1.7.2
Flask-Sockets==0.2.1
gevent==1.4.0
gevent-websocket==0.10.1
git+https://github.com/polyswarm/flask-profiler.git@profile-stats#egg=flask_profiler
git+https://github.com/polyswarm/polyswarmd-config.git@3d54ece0ddabbd8623299d765f0c0ed014ec120a#egg=polyswarmd_config
gunicorn==19.9.0
ipfshttpclient==0.4.12
polyswarm-artifact>=1.3.2
psycopg2-binary==2.8.4
pycryptodome==3.8.1
py-evm==0.3.0a5
python-consul==1.1.0
python-json-logger==0.1.9
PyYaml==4.2b4
redis==3.3.8
requests==2.22.0
requests-futures==1.0.0
rlp==1.1.0
ujson==1.35
web3==4.9.2
websocket-client==0.48.0
Werkzeug==0.15.3
